body {
  background: #ffb2eb url("../img/stars.png");
  background-size: 19em 18em;
  /*width and then height*/
  font-family: 'Courgette', cursive;
  font-size: 16px;
}

.diamonds {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("../img/diamond.png");
  background-size: 8.9em 7em;
  /*width and then height*/
  height: 100%;
  padding-bottom: 1em;
}


/* Heading / Banner */

.jumbotron {
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/castlebg.jpg') no-repeat center bottom;
  background-size: 100% 100%;
  /*background-color: rgba(0, 0, 0, 0.3);*/
}

header {
  height: 21em;
  background-color: white;
  background: url("../img/PRI-006.png") center no-repeat;
  /*crown*/
  background-size: 35em 20em;
  /*width and then height*/
  display: block;
}

header img {
  height: 9em;
}

header .right {
  float: right;
}


/* Navigation */


/* Main container */

.main {
  background-color: white;
  height: 21em;
  width: 80%;
  padding: 0 0 1em 0;
  margin-top: 4em;
  margin-bottom: 3.7em;
  border: 7px double grey;
  border-radius: 7px;
  font-size: 22px;
}

h1 {
  color: black;
  text-align: center;
  padding-top: .2em;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Tangerine', serif;
  font-size: 64px;
  margin-bottom: 0;
}

.row {
  margin-top: 2.3em;
}

.panel-body img {
  border-radius: 5px;
  border: 3px solid #65d2fc;
}

.panel-body img:hover {
  box-shadow: 3px 3px 15px #a8cdff;
}

.panel {
  color: #dcb2ff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.panel:hover {
  color: #ca89ff;
  transform: scale(1.1);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 4px 4px 10px #a8cdff;
}


/*
#ffb2eb;    background color

#ff99e5;
#ca89ff;
#daadff;
#ddb8fc;
#d199ff;    hover color
#dcb2ff;
#a8cdff;
*/
